---
layout: default
---
<div class="home">
  <div class="ui one column centered stackable grid container">
    <div class="mobile only column" id="left">
      <div class="ui info icon message">
        <i class="mobile icon">
        </i>
        <div class="content">
          <p>Du besuchst gerade die mobile Oberfläche.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!---
<div class="ui info icon message">ka

<i class="info icon"></i>
<div class="content">
<div class="header">
Warnung
</div>
<p>Dieser Blog ist im Aufbau!</p>
</div>
--->
</div>
<ul class="post-list">
  {% for post in site.posts limit: 5 %}
  {% assign num_words = post.content | strip_html | number_of_words %}
  {% assign minutes_f = num_words | divided_by: 150.0 %}
  {% assign minutes_i = num_words | divided_by: 150 %}
  {% assign diff = minutes_f | minus: minutes_i %}
  {% if diff >= 0.5 %}
      {% assign minutes = minutes_i + 1 %}
  {% else %}
      {% assign minutes = minutes_i %}
  {% endif %}
  {% if minutes <= 1 %}
      {% assign reading_time = '1' | append: ' Minute' %}
  {% else %}
      {% assign reading_time = minutes | append: ' Minuten' %}
  {% endif %}
  <div class="ui one column grid">
    <div class="column">
      {% if post.choosen %}
      <a class="ui pointing below red label">Vom Autor ausgewählter Artikel
      </a>{% endif %}
      <div class="ui raised segment">
        <a class="ui orange ribbon label">{{ post.category }}
        </a>
        <span>
          <time>
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}.
            {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}M&auml;rz
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
            {% endcase %}
            {{ post.date | date: "%Y" }}
          </time>
          {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ post.author }}
            </span>
          </span>{% endif %}
          {% if reading_time %} • Etwa <span>
            <span itemprop="name">{{ reading_time }}
            </span>
            Lesezeit
          </span>{% endif %}
        </span>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}
        </a>
        <div class="post">
          {{ post.content }}
        </div>
        <br>
        <div class="ui bottom attached label"><div id="tags">Tags:</div>{% for tag in post.tags %}<a class="ui orange label">{{ tag }}</a>{% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</ul>
<br>
<div class="infinite-spinner">
</div>
<br>
<p class="rss-subscribe">Abonnieren über
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Atom/RSS
  </a>
</p>
</div>
