---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="ui one column grid">
      <div class="column">
        {% if page.choosen %}<a class="ui pointing below red label">Vom Autor ausgewählter Artikel</a>{% endif %}
        <div class="ui raised segment">
          <header class="post-header">
            <a class="ui orange ribbon label">{{ page.category }}</a>
            <span><time>{{ page.date | date: "%d. %b %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
            <a class="post-link" href="{{ post.url }}">{{ page.title }}</a>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ page.content }}
          </div>
          <br>
          <div class="ui bottom attached label">Tags: {{ page.tags }}</div>
        </div>
      </div>
  </div>

</article>
